.QuizContainer {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 8rem 20px;
    max-width: 1200px;
}

.QuizBox {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .post-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .status {
            font-size: 14px;
            color: green;
        }

        .date {
            font-size: 12px;
            color: #999;
        }
    }

    .post-image {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }

    .post-title {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .Quizzes {
        display: flex;
        flex-direction: column;
        gap: 4rem;


        .attemptBtn {
            width: 200px;
            height: 50px;
            background-color: black;
            color: white;
            margin: auto;
            border: none;

            span {
                color: currentColor !important;
            }

            &:hover {
                background-color: rgb(71, 250, 198) !important;

                span {
                    color: black !important;
                }
            }
        }
    }

    .FlashCardBox,
    .MCQBox,
    .TrueFalseBox,
    .OpenQuestionBox {
        display: flex;
        flex-direction: column;
        gap: .6rem;

        .title {
            text-align: center;
            font-size: 1.7rem;
            font-weight: 500;
            background-color: rgb(71, 250, 198);
            padding: 1rem;
            border-radius: .3rem;
        }

        .FlashCard {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .subTitle {
                font-size: 1.5rem;
                color: gray;
            }
        }


        .MCQ,
        .TrueFalse,
        .OpenQuestion {
            display: flex;
            gap: 1.5rem;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(128, 128, 128, 0.3);
            padding: .5rem;
            border-radius: .3rem;

            .subTitle {
                font-size: 1.2rem;
                color: black;
            }

        }

    }

    .FlashCardBox {
        gap: 2rem;
    }


    .post-content {
        p {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 1.6;
        }

        h2 {
            margin-top: 20px;
            font-size: 20px;
            color: #333;
        }

        .quote {
            font-size: 18px;
            font-style: italic;
            color: rgb(71 250 198);
            margin-bottom: 20px;

            span {
                font-size: 24px;
                color: black
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: rgba(128, 128, 128, 0.3);
        padding: .5rem;
        border-radius: .3rem;
        font-size: .5rem;
        margin-top: -.7rem;

        .actionBtn {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: .3rem;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: .5rem;
            border-radius: .3rem;
            font-size: 1.2rem;
        }
    }
}

.sidebar {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .tags {
        align-items: center;
        background: rgb(71 250 198);
        display: flex;
        font-size: 15px;
        font-weight: 400;
        justify-content: center;
        line-height: 18.9px;
        max-width: 100%;
        min-height: 50px;
    }

    .tagsList {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        padding: .5rem 0;
    }

    .tag {
        background-color: #000000;
        border: none;
        max-width: fit-content;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }


    .popular-posts {
        h3 {
            margin-bottom: 20px;
            font-size: 12px;
            color: #333;
        }

        .popular-post {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;

            img {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                object-fit: cover;
            }

            .popular-post-content {
                h4 {
                    font-size: 13px;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 12px;
                    color: #666;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 10px;
                    color: #999;
                }
            }
        }
    }
}