.dashboard-container {
    // width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;

    .heading {
        h1 {
            margin-bottom: 20px;
            font-size: 3rem;
        }
    }

    .dashboard-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 1300px) {
            flex-wrap: wrap;
        }

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }

        .boxs {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;

            @media screen and (max-width:1024px) {
                flex-wrap: wrap;

            }

            .box {
                height: 180px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 8px;
                gap: 2rem;
                background-color: #fff;
                transition: box-shadow 0.3s ease-in-out;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
                }

                span {
                    font-size: 30px;
                    font-weight: 600;
                    color: rgba(254, 51, 77, 0.84);
                }
            }
        }

        .charts {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin-top: 1rem;
            border-radius: 8px;
            padding: 20px;
            width: 100%;
            background-color: #fff;
            margin: 0 auto;
            /* center it */

            canvas {
                max-width: 100%;
                height: auto;
            }
        }

        .user-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 310px;
            max-width: 100%;

            @media (max-width: 1300px) {
                flex-direction: row !important;
            }

            @media (max-width: 1024px) {
                width: 100%;
            }

            .user-table-container {

                padding: 20px;
                border-radius: 12px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                background-color: #fff;
                transition: box-shadow 0.3s ease-in-out;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
                }
            }

            .user-table-header {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
            }

            .user-table-title {
                font-size: 18px;
                font-weight: 600;
                color: #333;
            }

            .user-list {
                display: flex;
                flex-direction: column !important;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .user-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                border-bottom: 1px solid #e0e0e0;
            }

            .user-info {
                display: flex;
                align-items: center;
            }

            .user-avatar {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f5f5f5;
                border-radius: 50%;
                margin-right: 15px;

                span {
                    font-size: 30px !important;
                }
            }

            .user-details {
                h4 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                    color: #333;
                }

                p {
                    margin: 0;
                    font-size: 12px;
                    color: #666;
                }
            }

            .arrow-icon {
                font-size: 18px;
                color: #666;
            }
        }
    }

    @media (max-width: 768px) {
        .dashboard-content {
            flex-direction: column;
            gap: 1.5rem;
        }

        .boxs {
            justify-content: space-evenly;
        }
    }
}