.topic-container,
.QuizListContainer {
    padding: 2rem;
    padding-top: 5rem;
    margin-bottom: 5rem;

    h1 {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        .card {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .item {
            background: #fff;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            margin: 10px;
            opacity: .7;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 400px;
            // height: 420px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: 230px;
                object-fit: cover;
            }

            .content {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .title {
                    display: flex;
                    gap: .7rem;
                }
            }

        }
    }
}

.QuizListContainer {
    background-color: rgb(8, 8, 33);

    h1 {
        color: white;
    }
}